<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Portal de Eventos</title>
</head>
<body>
    <!-----HEADER----->
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="../img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="eventos.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="cideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
            <!-----FIN HEADER----->
    <section class="col-12 h836 cvl img2">
        <div class="col-12 h185 oro60 cvl zindex1"><h1>Contacto</h1></div>         
    </section>
    <section class="col-12">
        
        <h2 class="toro ">Nuestras vías de comunicación</h2>
        <h1 class="toro">¿Comentarios o sugerencias?</h1><br>
        <h4 class="color_grey2">Selecciona la solapa de tu interés para una mejor atención </h4>
        <div class="h800 blanco md-12 p10">
            <nav class="opciones_contacto col-12 dflex">
                <a href="contacto.html" class="opcion bbrr2 textnone col-12 h60 fs30 cvl">CONTACTO DIRECTO</a>
                <a href="contacto2.html" class="opcion bbrr2 textnone col-12 h60 fs30 cvl">TRABAJA CON NOSOTROS</a>
                <a href="contacto3.html" class="opcion bbrr2 textnone col-12 h60 fs30 cvl">EMPRESAS</a>
            </nav>
            <div class="">
                <div class="section1_contact dflex">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Nombre">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Apellido">
                </div>
                <div class="section1_contact dflex">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Telefono">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Dirección de correo">
                </div>
                <div class="section1_contact dflex">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Área de interés laboral">
                    <input class="fontquick fw600 pd10 borbeige m10 col-6" type="text" placeholder="Cargá tu cv">
                </div>
                <div class="comentary">
                    <input class="fontquick fw600 pd10 borbeige m10 col-12 h250 jcs" type="text" placeholder="Cargá tu cv">
                </div>
            </div>
            <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="ENVIAR">
            <h1 class="toro">¿Por qué anunciar en el portal?</h1>
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reiciendis neque aliquid alias quam suscipit! Repellat 
                temporibus dicta odit neque corrupti adipisci porro aliquam voluptatibus, dolorem optio obcaecati molestiae ab!</h2>
        </div>


<!--------FOOTER-------->
   <footer class="h40vh w100vw col-12 dflex">
    <div class="h40vh w50p dflex fdc jcc aic">
        <img class="h30p" src="../img/logo.png" alt="">
        <div class="dflex jcspa w75p m10">
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="eventos.html">Categorias</a>
                <a class="fontquick fw600 textnone color_beige" href="salones.html">Salones</a>
                <a class="fontquick fw600 textnone color_beige" href="ideas&notas.html">Imagen Personal</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto.html">Contacto</a>
            </div>
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Avisos Legales</a>
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Terminos y Condiciones</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto2.html">Trabaja con Nosotros</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto3.html">Anuncia el Portal</a>
            </div>
        </div>
    </div>
    <div class="h40vh w50p dflex fdc jcc aic">
        <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
        <div class="dflex">
            <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
            <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
        </div>
        <div class="dflex jcspa fontquick fw600">
            <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
            <img src="../img/github.svg" class="h30 m10" alt="">
            <img src="../img/linkedin.svg" class="h30 m10" alt="">
            <img src="../img/mail.svg" class="h30 m10" alt="">
        </div>
    </div>
</footer>
</body>
</html>