<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Portal de Eventos</title>
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="/img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="categorias.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
    <div class="pab back_oro w100p dflex aic jcspa fontquick ">
        <div class="links">
            <img src="" alt="">asdsaa
            <img src="" alt="">asdsad
            <img src="" alt="">asdsda
        </div>
        <div class="busqueda dflex aic jcspa">
            <h2 class="color_white fs2vw">NUEVA BUSQUEDA:</h2>
            <form method="POST" class="dflex jcspa aic w100vw">
                <select name="zona" class=" m5 pd10 toro fw600 bornone br5">
                    <option value="none">Zona del Evento</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <select name="evento" class="m5 pd10 toro fw600 bornone br5">
                    <option value="none">Â¿Que Evento estas buscando?</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <input class="m5 pd10 fs20 bornone back_black2 color_white fontquick fw600" type="submit" value="Buscar">
            </form>
        </div>
    </div>

    <section class="col-12 h800 img3 ">
        <h4 class="toro ">SÁBADO 16 DE FEBRERO</h4>          
    </section>
    <div class="col-12 oro60 ">
        <h2>Corredor Bella Vista</h2>
        <h1 class="">Running Challenge 7° edición</h1>
        <h4>3k - 5k- 10k- 21-k 42k</h4>
    </div>
    <section class="pd20">

            <div class="nota h755 blanco md-6 pd20 mbot20">
                <div class="col-12 oro60 ">
                    <img src="/img/back_notes.jpg" alt="" class="img_note cvl ">
                    <h4 class="cvl">MARTES 12 DE FEBRERO</h4>
                </div>
                <div class="">
                    <h3 class="toro">Plaza Muñiz</h3>
                    <h2 class="toro">Concierto al aire libre</h2>
                    <h6 class="">Te contamos todos los detalles de la organización</h6>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper ...</div>    
                    <div class="footer_note">
                        <h3 class="">Pte Perón 2453, Muñiz</h3>
                        <h4 class="seguir">+INFO</h4>
                    </div>
                </div>
            </div>

            <div class="h755 blanco md-6 p10 mbot20">
                
                <div class="col-12 oro60 ">
                    <img src="/img/back_notes.jpg" alt="" class="img_note cvl ">
                    <h4 class="cvl">MARTES 12 DE FEBRERO</h4>
                </div>
                <div class="">
                    <h3 class="toro">Plaza Muñiz</h3>
                    <h2 class="toro">Concierto al aire libre</h2>
                    <h6 class="">Te contamos todos los detalles de la organización</h6>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper ...</div>    
                    <div class="footer_note">
                        <h3 class="">Pte Perón 2453, Muñiz</h3>
                        <h4 class="seguir">+INFO</h4>
                    </div>
                </div>
            </div>
        
        
        </div>
        <div class="pd10 md-4 h600 mbot20">
            <div class="h600 blanco p10">
                <img src="/img/back_notes.jpg" alt="" class="img_note">
                <div class="">
                    <h6 class="toro">Plaza Muñiz</h6>
                    <h2 class="toro">Concierto al aire libre</h2>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod</div>    
                    <div class="footer_note">
                        <h3 class="">Pte Perón 2453, Muñiz</h3>
                        <h4 class="seguir">+INFO</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd10 md-4 h600 ">
            <div class="h600 blanco p10">
                <img src="/img/back_notes.jpg" alt="" class="img_note">
                <div class="">
                    <h6 class="toro">Club Bella Vista</h6>
                    <h2 class="toro">Concierto al aire libre</h2>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod</div>    
                    <div class="footer_note">
                        <h3 class="">Pte Perón 2453, Muñiz</h3>
                        <h4 class="seguir">+INFO</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="pd10 md-4 h600 mbot20">
            <div class="h600 blanco p10">
                <img src="/img/back_notes.jpg" alt="" class="img_note">
                <div class="">
                    <h6 class="toro">Plaza San Miguel</h6>
                    <h2 class="toro">Concierto al aire libre</h2>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod</div>    
                    <div class="footer_note">
                        <h3 class="">Pte Perón 2453, Muñiz</h3>
                        <h4 class="seguir">+INFO</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class=""></div>
    </section> 
    
        

    
    <div class="p10 bbrr md-12"><h3>CARGAR MÁS</h3></div>


   <footer class="h40vh w100vw col-12 dflex">
    <div class="h40vh w50p dflex fdc jcc aic">
        <img class="h30p" src="/img/logo.png" alt="">
        <div class="dflex jcspa w75p m10">
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="#">Categorias</a>
                <a class="fontquick fw600 textnone color_beige" href="salones.html">Salones</a>
                <a class="fontquick fw600 textnone color_beige" href="ideas&notas.html">Imagen Personal</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto.html">Contacto</a>
            </div>
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Avisos Legales</a>
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Terminos y Condiciones</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto2.html">Trabaja con Nosotros</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto3.html">Anuncia el Portal</a>
            </div>
        </div>
    </div>
    <div class="h40vh w50p dflex fdc jcc aic">
        <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
        <div class="dflex">
            <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
            <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
        </div>
        <div class="dflex jcspa fontquick fw600">
            <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
            <img src="/img/github.svg" class="h30 m10" alt="">
            <img src="/img/linkedin.svg" class="h30 m10" alt="">
            <img src="/img/mail.svg" class="h30 m10" alt="">
        </div>
    </div>
</footer>
</body>
</html>