<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>Portal de Eventos</title>
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="/img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="categorias.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>

    <section class="col-12 h836 cvl img1">
        
        <div class="col-12 h185 oro60 cvl zindex1"><h1>Ideas & Notas</h1></div>         
    </section>
    <section class="pd20">

            <div class="nota h755 blanco md-6 pd20">
                <img src="/img/back_notes.jpg" alt="" class="img_note ">
                <div class="">
                    <h3 class="toro">evento empresarial</h3>
                    <h2 class="toro">PLANIFICAR EN 2 HS</h2>
                    <h6 class="">Te contamos todos los detalles de la organización</h6>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper ...</div>    
                    <h5 class="">Seguir leyendo</h5>
                    <div class="anotacion">15/01/2019 18:52</div>
                </div>
            </div>
        

        
            <div class="h755 blanco md-6 p10">
                <img src="/img/back_notes.jpg" alt="" class="img_note cvl">
                <div class="">
                    <h3 class="toro">evento empresarial</h3>
                    <h2 class="toro">PLANIFICAR EN 2 HS</h2>
                    <h6 class="">Te contamos todos los detalles de la organización</h6>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper ...</div>    
                    <div class="footer_note">
                        <h5 class="seguir">Seguir leyendo</h5>
                        <div class="anotacion">15/01/2019 18:52</div>
                    </div>
                </div>
            </div>
        

        
            <div class=" h365 blanco md-12 p10 dflex ">
                <div class="col-6">
                    <h3 class="toro">evento empresarial</h3>
                    <h2 class="toro">PLANIFICAR EN 2 HS</h2>
                    <h6 class="toro">Te contamos todos los detalles de la organización</h6>
                    <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
                    minim veniam, quis nostrud exerci tation ullamcorper ...</div>    
                    <h3 class="seguir">Seguir leyendo</h3>
                    <div class="anotacion bot0">15/01/2019 18:52</div>
                </div>
                <img src="/img/back_notes.jpg" alt="" class="img_note2 col-6">
            </div>
        

        
        <div class="h365 blanco md-6 p10">
            <div class="">
                <h6 class="toro">Te contamos todos los detalles de la organización</h6>
                <h2 class="toro">evento empresarial</h2>
                <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt </div>    
                <div class="anotacion">15/01/2019 18:52</div>
            </div>
            <div class="dflex p10 jcspa">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
            </div>
        </div>

        <div class="h365 blanco md-6 p10">
            <div class="">
                <h6 class="toro">Te contamos todos los detalles de la organización</h6>
                <h2 class="toro">evento empresarial</h2>
                <div class="cuerpo1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt </div>    
                <div class="anotacion">15/01/2019 18:52</div>
            </div>
            <div class="imgs_note dflex p10 jcspa">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
                <img src="/img/back_notes.jpg" alt="" class="img_note3">
            </div>
        </div>
    </section> 

    <div class="cargar bbrr col-12"><h3>CARGAR MÁS</h3></div>


   <footer class="h40vh w100vw col-12 dflex">
    <div class="h40vh w50p dflex fdc jcc aic">
        <img class="h30p" src="/img/logo.png" alt="">
        <div class="dflex jcspa w75p m10">
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="">Categorias</a>
                <a class="fontquick fw600 textnone color_beige" href="">Salones</a>
                <a class="fontquick fw600 textnone color_beige" href="">Imagen Personal</a>
                <a class="fontquick fw600 textnone color_beige" href="">Contacto</a>
            </div>
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="">Avisos Legales</a>
                <a class="fontquick fw600 textnone color_beige" href="">Terminos y Condiciones</a>
                <a class="fontquick fw600 textnone color_beige" href="">Trabaja con Nosotros</a>
                <a class="fontquick fw600 textnone color_beige" href="">Anuncia el Portal</a>
            </div>
        </div>
    </div>
    <div class="h40vh w50p dflex fdc jcc aic">
        <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
        <div class="dflex">
            <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
            <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
        </div>
        <div class="dflex jcspa fontquick fw600">
            <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
            <img src="/img/github.svg" class="h30 m10" alt="">
            <img src="/img/linkedin.svg" class="h30 m10" alt="">
            <img src="/img/mail.svg" class="h30 m10" alt="">
        </div>
    </div>
</footer>
</body>
</html>