<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Eventos</title>
    <link rel="stylesheet" href="../css/fran.css">
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="../img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="categorias.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
    <div class="back_beige w100p pab top50 dflex fdc aic jcc fontquick pd20 h20vh">
        <h1 class="color_white fs3vw">Encontra todo para tu evento</h1>
        <form method="POST" class="dflex jcspa aic mw100vw">
            <select name="zona" class="w50p m5 pd10 fontquick fw600 bornone br5">
                <option value="none">Zona del Evento</option>
                <option value="zona1">Tortuguitas</option>
                <option value="zona2">San Miguel</option>
                <option value="zona3">Pilar</option>
                <option value="zona4">Escobar</option>
                <option value="zona5">Polvorines</option>
            </select>
            <select name="evento" class="m5 pd10 fontquick fw600 bornone br5">
                <option value="none">Â¿Que Evento estas buscando?</option>
                <option value="zona1">Tortuguitas</option>
                <option value="zona2">San Miguel</option>
                <option value="zona3">Pilar</option>
                <option value="zona4">Escobar</option>
                <option value="zona5">Polvorines</option>
            </select>
            <input class="m5 pd10 fs20 bornone back_black2 color_white fontquick fw600" type="submit" value="Buscar">
        </form>
    </div>
    <div class="mw100vw h836"> 
        <img class="w100p h836 back_size" src="/img/banner_principal.png" alt="">
    </div>
    <div class="m10"></div>
    <div class="w100vw h70vh back_black2">
        
    </div>
    <div class="m10"></div>
    <div class="w100vw h40vh back_black2 dflex jcc aic">
        <div class="fontquick fw600 back_beige color_white h20vh opa1 w100p pab dflex aic jcc">
            <h1 class="fs3vw opa1">IDEAS & NOTAS</h1>
        </div>
        <img class="h100p" src="/img/ideas.jpg" alt="">
    </div>
    <div class="m10"></div>
    <div class="w100vw h40vh back_black2 dflex jcc aic">
        <div class="fontquick fw600 back_beige color_white h20vh opa1 w100p pab dflex aic jcc">
            <h1 class="fs3vw opa1">PROMOCIONES</h1>
        </div>
        <img class="h100p" src="/img/promo.jpg" alt="">
    </div>
    <div class="m10"></div>
    <div class="w100vw h40vh back_black2 dflex jcc aic">
        <div class="fontquick fw600 back_beige color_white h20vh opa1 w100p pab dflex aic jcc">
            <h1 class="fs3vw opa1">EVENTOS</h1>
        </div>
        <img class="h100p" src="/img/evento_link.jpg" alt="">
    </div>
    <div class="m10"></div>
    <div class="m10"></div>
    <div class="w100vw dflex fdc jcc aic">
        <div class="w75p borbeige pd20 fontquick ">
            <h2 class="fs1-2vw color_beige2">Te contamos quienes somos</h2>
            <h1 class="fs3vw color_beige">EL PORTAL</h1>
            <h3 class="fs1-2vw color_grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
                enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
                nisl ut aliquip ex ea commodo consequat.</h3>
        </div>        
    </div>
    <div class="m10"></div>
    <footer class="h40vh w100vw dflex">
        <div class="h40vh w50p dflex fdc jcc aic">
            <img class="h30p" src="/img/logo.png" alt="">
            <div class="dflex jcspa w75p m10">
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="">Categorias</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Salones</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Imagen Personal</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Contacto</a>
                </div>
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="">Avisos Legales</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Terminos y Condiciones</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Trabaja con Nosotros</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Anuncia el Portal</a>
                </div>
            </div>
        </div>
        <div class="h40vh w50p dflex fdc jcc aic">
            <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
            <div class="dflex">
                <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
                <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
            </div>
            <div class="dflex jcspa fontquick fw600">
                <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
                <img src="/img/github.svg" class="h30 m10" alt="">
                <img src="/img/linkedin.svg" class="h30 m10" alt="">
                <img src="/img/mail.svg" class="h30 m10" alt="">
            </div>
        </div>
    </footer>
</body>
</html>