<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL PORTAL | SALONES</title>
    <link rel="stylesheet" href="../css/fran.css">
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="/img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <select name="" id=""></select>
            <a class="color_beige textnone fs1-2vw" href="categorias.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
    <div class="pab back_oro w100p dflex aic jcspa fontquick">
        <div class="links">
            <img src="" alt="">asdsaa
            <img src="" alt="">asdsad
            <img src="" alt="">asdsda
        </div>
        <div class="busqueda dflex aic jcspa">
            <h2 class="fs2vw color_white">NUEVA BUSQUEDA: </h2>
            <form method="POST" class="dflex jcspa aic w100vw">
                <select name="zona" class=" m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">Zona del Evento</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <select name="evento" class="m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">Â¿Que Evento estas buscando?</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <input class="m5 pd10 fs20 bornone back_black2 color_white fontquick fw600" type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div class="back_beige w100p pab top50 dflex fdc aic jcc fontquick pd20 h20vh">
        <h1 class="color_white fs3vw">PROMOCIONES</h1>
    </div>
    <div class="mw100vw h836"> 
        <img class="w100p h836 back_size" src="/img/bar.png" alt="">
    </div>
    <div class="w100vw dflex jcc">
        <div class="w75p">
            <div class="dflex jcc fwrap h100p w100p back_white">
                <div class="back_infa w45p m5 h80vh back_beige ovh dflex fdc jcc aic">
                    <div class="w200 h30 back_grey rot45 ovh dflex jcc aic tac fontquick fw600 color_white">Quintas</div>
                    <div class="w75p back_beige">
                        <div class="w100p dflex fdc jcc aic">
                            <div class="back_empresa h15vh w50p m10"></div>
                            <div class="w75p tac fontquick color_white fs5vw">
                                20% de Descuento por persona
                            </div>
                            <div class="w75p fontquick color_white fs1-2vw tac fw600">
                                En eventos de mas de 120 personas
                            </div>
                            <div class="m5 w75p back_grey fontquick fw600 fs1-2vw dflex jcc aic color_white pd5">
                                COTIZAR YA
                            </div>
                            <div class="m5 w75p fontquick fw600 dflex jcc aic color_white">
                                Esta promocion termina el 30/9
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back_infa w45p m5 h80vh back_beige ovh dflex fdc jcc aic">
                    <div class="w200 h30 back_grey rot45 ovh dflex jcc aic tac fontquick fw600 color_white">Quintas</div>
                    <div class="w75p back_beige">
                        <div class="w100p dflex fdc jcc aic">
                            <div class="back_empresa h15vh w50p m10"></div>
                            <div class="w75p tac fontquick color_white fs5vw">
                                20% de Descuento por persona
                            </div>
                            <div class="w75p fontquick color_white fs1-2vw tac fw600">
                                En eventos de mas de 120 personas
                            </div>
                            <div class="m5 w75p back_grey fontquick fw600 fs1-2vw dflex jcc aic color_white pd5">
                                COTIZAR YA
                            </div>
                            <div class="m5 w75p fontquick fw600 dflex jcc aic color_white">
                                Esta promocion termina el 30/9
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back_infa w45p m5 h80vh back_beige ovh dflex fdc jcc aic">
                    <div class="w200 h30 back_grey rot45 ovh dflex jcc aic tac fontquick fw600 color_white">Quintas</div>
                    <div class="w75p back_beige">
                        <div class="w100p dflex fdc jcc aic">
                            <div class="back_empresa h15vh w50p m10"></div>
                            <div class="w75p tac fontquick color_white fs5vw">
                                20% de Descuento por persona
                            </div>
                            <div class="w75p fontquick color_white fs1-2vw tac fw600">
                                En eventos de mas de 120 personas
                            </div>
                            <div class="m5 w75p back_grey fontquick fw600 fs1-2vw dflex jcc aic color_white pd5">
                                COTIZAR YA
                            </div>
                            <div class="m5 w75p fontquick fw600 dflex jcc aic color_white">
                                Esta promocion termina el 30/9
                            </div>
                        </div>
                    </div>
                </div>
                <div class="back_infa w45p m5 h80vh back_beige ovh dflex fdc jcc aic">
                    <div class="w200 h30 back_grey rot45 ovh dflex jcc aic tac fontquick fw600 color_white">Quintas</div>
                    <div class="w75p back_beige">
                        <div class="w100p dflex fdc jcc aic">
                            <div class="back_empresa h15vh w50p m10"></div>
                            <div class="w75p tac fontquick color_white fs5vw">
                                20% de Descuento por persona
                            </div>
                            <div class="w75p fontquick color_white fs1-2vw tac fw600">
                                En eventos de mas de 120 personas
                            </div>
                            <div class="m5 w75p back_grey fontquick fw600 fs1-2vw dflex jcc aic color_white pd5">
                                COTIZAR YA
                            </div>
                            <div class="m5 w75p fontquick fw600 dflex jcc aic color_white">
                                Esta promocion termina el 30/9
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m10"></div>
    <div class="w100vw dflex jcc">
        <div class="w75p h30 back_grey tac dflex aic jcc fontquick fw600 color_white">Cargar Mas</div>
    </div>
    <footer class="h40vh w100vw dflex">
        <div class="h40vh w50p dflex fdc jcc aic">
            <img class="h30p" src="/img/logo.png" alt="">
            <div class="dflex jcspa w75p m10">
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="">Categorias</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Salones</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Imagen Personal</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Contacto</a>
                </div>
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="">Avisos Legales</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Terminos y Condiciones</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Trabaja con Nosotros</a>
                    <a class="fontquick fw600 textnone color_beige" href="">Anuncia el Portal</a>
                </div>
            </div>
        </div>
        <div class="h40vh w50p dflex fdc jcc aic">
            <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
            <div class="dflex">
                <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
                <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
            </div>
            <div class="dflex jcspa fontquick fw600">
                <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
                <img src="/img/github.svg" class="h30 m10" alt="">
                <img src="/img/linkedin.svg" class="h30 m10" alt="">
                <img src="/img/mail.svg" class="h30 m10" alt="">
            </div>
        </div>
    </footer>
</body>
</html>