<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL PORTAL | SALONES</title>
    <link rel="stylesheet" href="../css/fran.css">
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="/img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="categorias.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
    <div class="pab back_oro w100p dflex aic jcspa fontquick">
        <div class="links">
            <img src="" alt="">asdsaa
            <img src="" alt="">asdsad
            <img src="" alt="">asdsda
        </div>
        <div class="busqueda dflex aic jcspa">
            <h2 class="color_white fs2vw">NUEVA BUSQUEDA: </h2>
            <form method="POST" class="dflex jcspa aic w100vw">
                <select name="zona" class=" m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">Zona del Evento</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <select name="evento" class="m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">Â¿Que Evento estas buscando?</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <input class="m5 pd10 fs20 bornone back_black2 color_white fontquick fw600" type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div class="back_beige w100p pab top50 dflex fdc aic jcc fontquick pd20 h20vh">
        <h1 class="color_white fs3vw">SALONES</h1>
    </div>
    <div class="mw100vw h836"> 
        <img class="w100p h836 back_size" src="/img/evento_salon.jpg" alt="">
    </div>
    <div class="dflex jcc aic w100vw h80vh">
        <div class=" dflex jcc h100p w75p fwrap pd20">
            <div class="back_salon back_beige w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Salones de Fiesta</h1>
            </div>
            <div class="back_quinta w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Quintas</h1>
            </div>
            <div class="back_pub w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Pubs & Resto</h1>
            </div>
            <div class="back_social w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Clubes Soc. Fomento</h1>
            </div>
            <div class="back_depo w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Campos Deportivos</h1>
            </div>
            <div class="back_infa w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Fiestas Infantiles</h1>
            </div>
            <div class="back_house w20p h50p back_beige m5 dflex aic jcc">
                <h1 class="fs2vw w100p h100p dflex jcc aic tac back_beige color_white fontquick fw600">Clubs House</h1>
            </div>
        </div>
    </div>
    <footer class="h40vh w100vw dflex">
        <div class="h40vh w50p dflex fdc jcc aic">
            <img class="h30p" src="/img/logo.png" alt="">
            <div class="dflex jcspa w75p m10">
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="#">Categorias</a>
                <a class="fontquick fw600 textnone color_beige" href="salones.html">Salones</a>
                <a class="fontquick fw600 textnone color_beige" href="ideas&notas.html">Imagen Personal</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto.html">Contacto</a>
            </div>
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Avisos Legales</a>
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Terminos y Condiciones</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto2.html">Trabaja con Nosotros</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto3.html">Anuncia el Portal</a>
                </div>
            </div>
        </div>
        <div class="h40vh w50p dflex fdc jcc aic">
            <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
            <div class="dflex">
                <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
                <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
            </div>
            <div class="dflex jcspa fontquick fw600">
                <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
                <img src="/img/github.svg" class="h30 m10" alt="">
                <img src="/img/linkedin.svg" class="h30 m10" alt="">
                <img src="/img/mail.svg" class="h30 m10" alt="">
            </div>
        </div>
    </footer>
</body>
</html>