<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EL PORTAL | SALONES</title>
    <link rel="stylesheet" href="../css/fran.css">
</head>
<body>
    <header class="dflex aic jcspa back_white mw100vw h15vh">
        <a href="index.html" class="h50p">
            <img class="h100p" src="../img/logo.png" alt="">
        </a>
        <div class="w50p dflex aic jcspa fontquick fw600">
            <a class="color_beige textnone fs1-2vw" href="eventos.html">Categorias</a>
            <a class="color_beige textnone fs1-2vw" href="salones.html">Salones</a>
            <a class="color_beige textnone fs1-2vw" href="ideas&notas.html">Imagen Personal</a>
            <a class="color_beige textnone fs1-2vw" href="contacto.html">Contacto</a>
        </div>
        <div>
            <a class="textnone fontquick" href="">Empresas</a>
        </div>
    </header>
    <div class="pab back_oro w100p dflex aic jcspa fontquick">
        <div class="links">
            <img src="" alt="">asdsaa
            <img src="" alt="">asdsad
            <img src="" alt="">asdsda
        </div>
        <div class="busqueda dflex aic jcspa">
            <h2 class="color_white fs2vw">NUEVA BUSQUEDA: </h2>
            <form method="POST" class="dflex jcspa aic w100vw">
                <select name="zona" class=" m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">Zona del Evento</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <select name="evento" class="m5 pd10 fontquick fw600 bornone br5">
                    <option value="none">¿Que Evento estas buscando?</option>
                    <option value="zona1">Tortuguitas</option>
                    <option value="zona2">San Miguel</option>
                    <option value="zona3">Pilar</option>
                    <option value="zona4">Escobar</option>
                    <option value="zona5">Polvorines</option>
                </select>
                <input class="m5 pd10 fs20 bornone back_black2 color_white fontquick fw600" type="submit" value="Buscar">
            </form>
        </div>
    </div>
    <div class="back_beige w100p pab top50 dflex fdc aic jcc fontquick pd20 h20vh">
        <h1 class="color_white fs3vw">TERMINOS & CONDICIONES</h1>
    </div>
    <div class="mw100vw h836"> 
        <img class="w100p h836 back_size" src="../img/terminos.jpg" alt="">
    </div>
    <div class="m10"></div>
    <div class="w100vw dflex jcc pd20">
        <div class="w75p dflex fdc">
            <h1 class="fontquick fw600 fs3vw color_beige">Bienvenido al Portal de Eventos</h1>
            <h2 class="fontquick fw600 fs1-2vw pd10 color_grey">
                These terms and conditions outline the rules and regulations for the use of Portal de Eventos's Website. 
                Portal de Eventos is located at: Las Camelias 1158 Pilar, Pilar, BUENOS AIRES - 1665, Argentina
            </h2>
            <h2 class="fontquick fw600 fs1-2vw pd10 color_grey">
                <div class="pd5">
                    By accessing this website we assume you accept these terms and conditions in full. Do not continue to use
                    Portal de Eventos's website 
                    <p>if you do not accept all of the terms and conditions stated on this page.
                    <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer
                    Notice</p>
                    <p>and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website</p>
                    <p>and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”,
                    refers</p>
                    <p>to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client</p>

                    <p>or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to under-
                    take</p>

                    <p>the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
                    <p>of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect
                    <p>of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law
                    <p>of Argentina. Any use of the above terminology or other words in the singular, plural,
                    <p>capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to
                    same.Cookies
                    <p>We employ the use of cookies. By using Portal de Eventos's website you consent to the use of cookies
                    in accordance with Portal de Eventos’s privacy policy.Most of the modern day interactive web sites
                    use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
                    to enable the functionality of this area and ease of use for those people visiting. Some of our
                    affiliate / advertising partners may also use cookies.License</p>
                    Unless otherwise stated, Portal de Eventos and/or it’s licensors own the intellectual property rights for
                    all material on Portal de Eventos. All intellectual property rights are reserved. You may view and/or print
                    pages from http://www.portaldeeventos.com for your own personal use subject to restrictions set in these
                    terms and conditions.
                    <p>You must not:</p>
                </div>
                <div class="pd10">
                    <p>Republish material from http://www.portaldeeventos.com
                    <p>Sell, rent or sub-license material from http://www.portaldeeventos.com
                    <p>Reproduce, duplicate or copy material from http://www.portaldeeventos.com
                </div>
                <div>
                    Redistribute content from Portal de Eventos (unless content is specifically made for redistribution).
                    Hyperlinking to our Content 
                </div>
                <div class="pd10">
                    The following organizations may link to our Web site without prior written approval:
                </div>
                <div class="pd10">
                    <p>Government agencies;
                    <p>Search engines;
                    <p>News organizations;
                    <p>Online directory distributors when they list us in the directory may link to our Web site in the same
                    manner as they hyperlink to the Web sites of other listed businesses; and
                    <p>Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                    and charity fundraising groups which may not hyperlink to our Web site.
                </div>
            </h2>
        </div>
    </div>
    <div class="w100vw dflex jcc">
        <div class="w75p dflex jcr">
            <form method="" class="dlfex">
                <input type="submit" class="back_black2 fontquick fs2vw bradrlt color_white pd10 bornone" value="Cancelar">
                <input type="submit" class="back_beige fontquick fs2vw bradrb color_white pd10 bornone" value="Aceptar">
            </form>
        </div>
    </div>
    <div class="m10"></div>
    <div class="w100vw dflex jcc">
        <div class="m10 borbeige w75p"></div>
    </div>
    <footer class="h40vh w100vw dflex">
        <div class="h40vh w50p dflex fdc jcc aic">
            <img class="h30p" src="../img/logo.png" alt="">
            <div class="dflex jcspa w75p m10">
                <div class="dflex fdc">
                    <a class="fontquick fw600 textnone color_beige" href="eventos.html">Categorias</a>
                <a class="fontquick fw600 textnone color_beige" href="salones.html">Salones</a>
                <a class="fontquick fw600 textnone color_beige" href="ideas&notas.html">Imagen Personal</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto.html">Contacto</a>
            </div>
            <div class="dflex fdc">
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Avisos Legales</a>
                <a class="fontquick fw600 textnone color_beige" href="terminos.html">Terminos y Condiciones</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto2.html">Trabaja con Nosotros</a>
                <a class="fontquick fw600 textnone color_beige" href="contacto3.html">Anuncia el Portal</a>
                </div>
            </div>
        </div>
        <div class="h40vh w50p dflex fdc jcc aic">
            <h2 class="fontquick fs1-2vw color_beige2">Newseltters y Promociones</h2>
            <div class="dflex">
                <input class="fontquick fw600 pd10 borbeige m10 w350" type="text" placeholder="Dejanos tu correo y recibi las ultimas noticias!">
                <input class="fontquick fw600 pd10 m10 back_black2 color_white bornone bradrb" type="submit" value="SUSCRIBIRSE">
            </div>
            <div class="dflex jcspa fontquick fw600">
                <h3 class="color_beige m10">Seguinos en nuestras redes</h3>
                <img src="../img/github.svg" class="h30 m10" alt="">
                <img src="../img/linkedin.svg" class="h30 m10" alt="">
                <img src="..s/img/mail.svg" class="h30 m10" alt="">
            </div>
        </div>
    </footer>
</body>
</html>