@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
/*-------GENERAL--------*/ 
*{
    margin:0; padding: 0;box-sizing: border-box;
    transition: all 0,6s;
    
}
/*--------COLORES----------*/
.negro{
    color: #000000;
}


/*------------------*/
header{
    height: 80px;
    width: 100%;
    background-color:#ffffff;
    margin: auto;
    padding: 0 10%;
    line-height: 80px;
}
h1{
    
    font-size: px;
    font-weight: 100px;
}

h3{
    
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.37);
    font-size: 30px;
}

h4{
    font-size: 20px;
    
}

p{
    font-size: 20px;
}

.card{
    top: 40px;
    left: 50px;
    
}

.contenedor{
    height: 800px;
    width: 95%;
    margin: auto;
    margin-bottom: 60px;
}
.fila{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
}
.jsc{
    justify-content: space-between;
}
.fila .tarjeta{
    height: 400px;
    width: 30%;
    border-radius: 14px;
    background-color: #f6a79b;
    color: white;
    padding: 14px;
    position: relative;
}

.tarjeta .img{
    width: 100%;
    height: 180px;
    border-radius: 14px;
}



/*------ACA VAN A ESTAR LAS PROPIEDADES PARA QUE SE VEA LINDO EN EL CELU-------*/
@media screen and(max-width=662px){
    .fila .tarjeta{
        width: 100%;

    }
    .flex{
        flex-direction: column;
        gap: 20px;
    }
    


}
.boton{
    height: 40px;
    padding: 10px 40px ;
    line-height: 40px;
    background-color: white;
    border-radius: 14px;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.tarjeta .boton:hover{
    transform: scale(1.16);
    transition: 1s;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.905);
}

footer{
    height: 60px;
    width: 100%;
    position: static;
    bottom: 0;
    padding: 0 10% 0 10%;
    line-height: 60px;
    background-color: #b9c2c9;

}
/*-------TIPOGRAFIAS--------*/  


.bodoni{
    font-family: 'Bodoni Moda', serif;
}


/*-------MEDIDAS--------*/ 
