@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
/*.--TIPOGRAFIAS-----*/

.bodoni{
    font-family: 'Bodoni Moda', serif;
}
.serif{
    font-family: 'PT Serif', serif;
}
.playfair{
    font-family: 'Playfair Display SC', serif;
}


.textI{
    text-indent: 10px;
}

/*---COLORES-----*/
.white{
    color: white;
}

.black{
    color: black;
}

.gristx{
    color: grey;
}

.transparent{
    color: #ffffff00;

}

.centrar_h{
    justify-content: center;
}

.centrar_v{
    align-items: center;
}

.posrel{
    position: relative;
}
.posab{position: absolute;}

.ptext{
    padding: 10px;
}

.fdcol{
    flex-direction: column;
}


.sombra{
    box-shadow:  0 0 15px -2px rgba(0, 0, 0, 0.315);
    /*box_shadow:ejex*/
}

.circulo{
    overflow: hidden;
    border-radius: 50% ;
    aspect-ratio: 1/1;
}
.gap20{
    gap: 20px;
}

.mgbot{
    margin-bottom: 20px ;
}
/*---MEDIDAS GENERALES-----*/
*{
    margin:0; padding: 0;box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

.dflex{
    display: flex;
}

.imgtop{
    width: 100%;
    height: 320px;
}

.title{
    position: absolute;
    top: 40%;
    left: 2%;
    font-size: 25px;
    font-weight: 600;
    background-color: #4a2d29; 
    border-radius: 0px 0px 9px 9px;
    color: #e0e0c4;
}

.info1{
    letter-spacing: 2px;
    position: absolute;
    top: 48%;
    left: 2%;
    font-size: 20px;
    font-weight: 900;
    background-color: #5e3d38;
    border-radius: 2px 2px 9px 9px;
    color: #e0e0c4;
}

/*--BARRA DE NAVEGACION---*/
.buscador{
    position: absolute;
    background-color: #efcc62;
    top: 59.5%;
    left: 23%;
    max-width: 570px;
    width: 100%;
}
.iconsearch{
    width: 45px;
    height: 40px;
    padding: 8px;
}

.navegador{
    max-width: 500px;
    width: 100%;
    color: #8b8477c2;
    
}

.inputsearch{
    padding: 14px;
}



.botonsearch{
    background-color: #8b8477;
}

/*---MITAD DE PAGINA-----*/
.iconsmid{
    margin-top: 45px;
    background-color: #ffffff;
}

.iconsmid ul, .inforesto ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    overflow-x:scroll ;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inforesto{
    justify-content: space-evenly;
}
.nombre{
    width: 90%;
    height: 80px;
    padding-top: 20px;
    line-height: 40px;
    margin:auto;
}
.info{
    width: 90%;
    padding-top: 20px;
    margin:auto;
}

.inforesto ul{
    overflow-x:hidden ;
}
.iconsmid ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 200px;
    gap: 10px;

}

.med{
    font-size: 28pt!important ;
}
.resto{
    display: flex;
    flex: 0 0 49% ;
    height: 200px;
    width: 100px;
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
    border-end-start-radius: 15px;
}

.resto .imgresto{
    height: 100%;
    width: 40%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}

.listaresto{
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.resto img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-start-start-radius:15px ;
    border-end-start-radius:15px ;
}
.resto .textoresto{
    line-height: 25pt;
}
.valoracion{
    display: flex;
    justify-content: space-between;

}

.rate2{
    background-color: rgb(113, 235, 214);
    position: absolute;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 15pt;
    text-align: center;
    border-start-start-radius: 15px;
    border-end-end-radius: 15px;
    right: 10px;
    top: 290px;
}

.resto .datosresto{
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly   ;
}

footer ul li{
    width: 100%;
    text-align: center;
}

footer ul li:hover{
    border-top: solid 4px white;
}

 footer a{
    text-decoration: none;
    color: #8b8477ee;
 }

footer a:hover{
    color: black;
}

footer .active{
    color: black;
    font-weight: 700;
}

header button{
    left: 20px;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
}

.item_carta{
    background-color: rgb(255, 255, 255);
    height: 140 px;
    width: 100%;
    gap: 15px;
    border-radius: 15px;
}

.img_plato{
    background-color: #cfb5b5;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.img_plato img{
    object-fit: contain;
    height: 100px;
}


.txt_plato{
    gap: 20px;
}

.precio{
    right: -10px;
    bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ecd3cf;
}
/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(192, 179, 60);;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 223, 168);;
}

.productos{
    background-color: rgb(255, 255, 255);
    padding: 10px;
}