
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*TIPOGRAFIAS*/
.roboto{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0%;
}

.dflex{
    display: flex;
}

body{
    background: rgb(130,123,237);
    background: linear-gradient(0deg, rgba(130,123,237,1) 0%, rgba(255,255,255,1) 100%);
}
/*HEADER*/

.header{
    max-width: 600px;
    justify-content: space-between;
}

.info{
    flex-direction: column ;
    padding: 20px;
}
.titulo{
    font-size: 19px;
    padding-bottom: 5px;
}
.nombre{
    font-size: 27px ;
}
.img__avatar img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 10px;
}



/*BARRA BUSCADOR*/
.buscador{
    flex-direction: column;
    max-width: 350px;
}

.buscador .navegador {
    width: 350px;
    background-color: aliceblue;
    border-radius: 34px;
}
.buscador .input__search {
    width: 300px;
    background-color: aliceblue;
    padding: 14px;
    border-radius: 34px;
    border: 0;
}
.buscador .iconsearch{
    width: 35px;
    height: 30px;
    padding: 10px;
}
.buscador .categorias{
    flex-direction: row;
    flex: 0 0 40px;
    gap: 30px;
    padding: 15px;
    overflow-x:scroll ;
    

}

.categorias .categoria1{
    background-color: rgb(167, 179, 179);
    width: 90px;
    padding: 5px 20px;
    line-height: 30px;
    border-radius: 20px;
}

.categorias .categoria2{
    background-color: rgb(167, 179, 179);
    width: 90px;
    padding: 5px 20px;
    line-height: 30px;
    border-radius: 20px;
}
.categorias .categoria3{
    background-color: rgb(167, 179, 179);
    width: 90px;
    padding: 5px 20px;
    line-height: 30px;
    border-radius: 20px;
}
.categorias .categoria4{
    background-color: rgb(167, 179, 179);
    width: 90px;
    padding: 5px 20px;
    line-height: 30px;
    border-radius: 20px;
}
.categorias .categoria5{
    background-color: rgb(167, 179, 179);
    width: 90px;
    padding: 5px 20px;
    line-height: 30px;
    border-radius: 20px;
}


.recomendados{
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}
.tarjeta{
    width: 165px;
    height: 200px;
    flex-direction: column-reverse;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    overflow: hidden;
   
}

.tarjeta img{
    width: 175px;
    height: 160px;
}


.info1__tarjeta{
    padding: 10px;
    display: flex;
    justify-content:flex-start;
    font-size: 15px;
    color: grey;
}

.info2__tarjeta{
    display: flex;
    justify-content: start;
    font-size: 20px;
    padding: 10px;
}

.info__reco{
    padding: 10px;
    font-size: 20px;
}
/*FOOTER*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: white;
}

footer ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

footer ul li{
    width: 100%;
    text-align: center;
}

footer ul li:hover{
    border-top: solid 4px white;
}

 footer a{
    text-decoration: none;
    color: #8b8477ee;
 }

footer a:hover{
    color: black;
}

footer .active{
    color: black;
    font-weight: 700;
}

/*CONTENEDOR SCROLLBAR*/
::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    border-radius: 5px;
}

/* FONDO BARRA SCROLL*/
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: rgb(192, 179, 60);;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 223, 168);;
}